body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #232323;
}

h1 {
  color: white;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

span {
  color: white;
}

.square {
  background: purple;
  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%;
  float: left;
  border-radius: 10px;
}
